# Variables de entorno — NUNCA subir
.env

# Resultados generados localmente
resultados/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Entornos virtuales
.venv/
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema operativo
.DS_Store
Thumbs.db
